<h1>Showing Selected Article</h1>

<strong>Name:</strong><br />
<%= @article.title %>
<br /><br />
<strong>Description:</strong><br />
<%= @article.description %>
<br /><br />
[ <%= link_to "Back to Listing Articles", articles_path %> ] | 
[ <%= link_to "Edit this Article", edit_article_path %> ]